.entry {
	width: 90%;
	margin: 20px 30px 0 5px;
	padding: 9px 35px 92px 19px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0,0.3);

    .image{
        width:70%;
		display:flex;
		align-items: center;

		img{
			width:100%
		}
    }

	.message{
		h2{
			color:blue;
		}
	}

	.error{
		color: red;
	}
}
